* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.result {
  margin-top: 20%;
  margin: 0 auto;
  width: 50%;
  background-color: #fff;
}

p {
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(56, 29, 180);
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .result {
    margin-top: 10%;
    width: 90%;
  }

  p {
    font-size: 1.2rem;
  }
}
